.lesson {
    &__header {
        height: 80px;
        background: url(../img/bg_header2.png) 50% 0 repeat-x,url(../img/bg_header.jpg) 50% 100%/cover no-repeat;
        padding: 30px 50px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        
        &_wrapper {
            display: flex;
            justify-content: space-between;
            height: 35px;
            align-items: center;
        }
        &_title {
            height: 35px;
            font-size: 20px;
            color: #000;
            cursor: pointer;
            img {
                display: block;
                margin: 0 auto;
                width: 100%;
                height: 100%;
            }
        }
        &_lang {
            display: flex;
            width: 150px;
            justify-content: space-between;
        }
    }
}

.btn {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    &:hover {
        box-shadow: 5px 5px 15px #1a1a1aa8;
        backdrop-filter: blur(50px);
    }
}