.promo {
    margin-top: 80px;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    &__descr {
        visibility: hidden;
        font-size: 2px;
    }
    &__item {
        position: relative;
        margin-top: 30px;
        width: 45%;
        height: 300px;
        background: #fff;
        background: center center  / cover no-repeat;
        box-shadow: 10px 8px 16px rgba(0,0,0,0.55);
        &_link {
            display: block;
            background: #000000a4;
            min-height: 60px;
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 20px;
            font-size: 18px;
            line-height: 20px;
            color: #fff;
            &:hover {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}