.test {
    position: absolute;
    top: 30%;
    transform: translateY(50%);
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    // margin-top: 300px;
    width: 100%;
    &__container {
        position: relative;
        height: 100vh;
        padding: 0 !important;
    }
    &__phrase {
        text-align: center;
        font-size: 20px;
        &_en {
            margin-top: 15px;
        }
    }
    &__wrapper {
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        max-width: 360px;
        flex-wrap: wrap;
    }
    &__word {
        width: 33.333%;
        height: 50px;
        text-align: center;
        border: 1px solid #fff;
        line-height: 50px;
        cursor: pointer;
    }

}